body, html{
    height:100%;
}

body{
    font-family: Ubuntu, sans-serif;
    font-size:100%;
    background-color:#ADBAE7;
    margin:0px;
}

.page-wrap{
    min-height:100%;
    height:auto !important;
    margin:0 auto -15px;
}

#content{
    padding:10px;
    height:100%;
}

.disable_overlay {
  display:none;
  position:relative;
  background-color: darkgray;
  opacity:.4;
  width:16px;
  float: left;
  left:-15px;
  height:15px;
  top:1px;
}

.timesheet_date {
  float: right;
}

#ts_nav_previous {
  float: left;
}

#ts_nav_next {
  float: right;
}

#pp_nav_previous {
  float: left;
}

#pp_nav_next {
  float: right;
}


.loginContainer{
    width:400px;
    height:500px;
    margin:auto;
    box-shadow:0px 0px 15px #6e6e6e;
    background-color: rgba(212, 175, 55, 0.10);
}

.loginLogo{
    width:80%;
    margin:50px auto;
    display:block;
    padding-top:50px;
}

.loginContainer form{
    margin:20px;
    padding-left: 10px;
    margin-top:-25px;
}

.loginContainer form label{
    min-width:150px;
    display:inline-block;
    color: #0005B3;
    margin-bottom:5px;
    font-size:18px;
}

.loginContainer form input{
    margin-bottom:10px;
    margin-left:25px;
}

.loginContainer form a{
    text-align:right;
    font-size:14px;
    float:right;
    margin-top:-10px;
}

.loginContainer form input.submit-button{
    margin:0px auto;
    display:block;
}

input[type="submit"]{
    border-radius: 1em;
    padding:10px 20px;
    margin:5px 5px;
    background-color: #0005B3;
    color:#fcfcfc;
    border:none;
    font-weight:bold;
    box-shadow: 3px 3px 8px #b8b8b8;
}
/*END login page*/

/*header*/

img.logo{
    display:block;
    float:left;
    width:25%;
    max-width:275px;
    min-width:100px;
    margin:5px;
}

#header {
    height: 120px;
    width: 100%;
    background-color: #0005B3;
    box-shadow: 0px 3px 3px 1px rgba(0, 43, 70, 0.64);
    z-index: 50;
    position: relative;
}

ul.menubar {
    margin:0px;
    position:absolute;
    bottom:8px;
    right: 0px;
}
ul.menubar li {
    list-style:none;
    display:inline;
}

ul.menubar li a {
    color: #fff;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    border-top:1px solid #fff;
}
ul.menubar li a:hover {
    color: #FFF;
    background-color: #6D8AEC;
    border-color: #2F343A;
}
ul.menubar li a.active {
    border:1px solid #727d85;
    color: #FFF;
    background-color: #6D8AEC;
    border-color: #2F343A;
}
/*END header*/

/*footer*/
#footer{
    min-width:400px;
    max-width:650px;
    height:40px;
    background-color: #6D8AEC;
    margin:0px auto;
    border-radius: 10px 10px 0px 0px;
    z-index:500;
}

#footer p{
    padding:10px 10px;
    text-align:center;
    color: #0005B3;
}

#footer a{
    padding:0px 10px;
    color:#000 !important;
}
/*END footer*/

/*feedback styling*/
.flash{
    margin:20px;
    padding:15px;
    background-color:#7c2121;
    border-radius:1em;
    font-size:16px;
    font-weight:600;
    color: #fafafa;
}
/*END feedback styling*/

table, th, td {
    border: 1px solid rgba(125, 95, 35, 0.90);
    max-width: 90%;
    min-width: 65%;
}

thead tr {
    background-color: #6D8AEC;
    color: #FFF;
}


tbody tr:nth-child(even) {
    background-color: rgba(186, 149, 56, 0.25);
}
tbody tr:nth-child(odd) {
    background-color: rgba(175, 144, 45, 0.08);
}

td {
    text-align: center;
    padding: 7.5px;
}

td img {

}

table {
    border-collapse: collapse;
    width: 100%;
}

h3 {
    color: #0005B3;
}

a {
    text-decoration: none;
}
