.disable_overlay {
  display:none;
  position:relative;
  background-color: darkgray;
  opacity:.4;
  width:16px;
  float: left;
  left:-15px;
  height:15px;
  top:1px";
}

.timesheet_date {
  float: right;
}
