<div class="content">
{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<div class="loginContainer">
    <a href="<?php echo URL; ?>"><img class="loginLogo" src="<?php echo EBURL; ?>public/img/ScriybLogo.png"
                                      alt="Scriyb Logo"></a>
  <form action="" method="post">
    {{ render_field(form.hidden_tag) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
    <p><input type=submit value=Submit /></p>
  </form>
</div>
{% endblock %}
</div>