{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
{% block title %}{{ title }}{% endblock %}
{% endblock %}

{% block content %}

<script type="text/javascript">
  var JQUERYUI_MODAL_OPTIONS = { autoOpen: false, modal: true, width: 600, zIndex: 100000, };
</script>


<div>
  <ul>
    {% for payperiod in payperiods %}
      {% if payperiod.invoices_processed %}
        {% set invoice_status = "Delivered" %}
      {% else %}
        {% set invoice_status = "Not sent" %}
      {% endif %}
      {% if payperiod.payroll_processed %}
        {% set payroll_status = "Paid" %}
      {% else %}
        {% set payroll_status = "Unpaid" %}
      {% endif %}
    <li>
      <a href={{ url_for("payperiod", payperiod_id=payperiod.id) }}>
        <span>{{payperiod.start_date.date()}}</span> - <span>{{payperiod.end_date.date()}}</span>
      </a>
        (
          <span class="payperiod_invoice_status">Invoices: {{ invoice_status }}</span>
          <span class="payperiod_payroll_status">Payroll: {{ payroll_status }}</span>
        )
    </li>
    {% endfor %}
</div>

<div>
  <a id="addpayperiod" href="#" title="Add new pay period">Add new pay period</a>
</div>
<br />
<script type='text/javascript'>
  var $addpayperiod_dialog = $("<div><h3>Loading...</h3></div>").dialog(JQUERYUI_MODAL_OPTIONS);
  $addpayperiod_dialog.dialog("option", 'title', "Add new pay period");
  var link = "{{url_for('addpayperiod')}}";
  $("#addpayperiod").click(function(event) {
    event.preventDefault();
    $addpayperiod_dialog.load(link);
    $addpayperiod_dialog.dialog("open");
  });
</script>

{% endblock %}
