{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}

{% block content %}

<h3> Timesheet for {% if user.name %}{{ user.name }} {% else %}{{user.username}}{% endif %}<span class="timesheet_date">{{ payperiod.start_date.date() }} - {{ payperiod.end_date.date() }}</span></h3>

<form action="" method="post">
<table style="width: 100%" border="1">
  <thead>
    <tr>
      <th>Project</th>
    {% for header in date_headers %}
      <th><span>{{ header[0] }}</span><br /><span>{{ header[1] }}</span></th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for customer in logged_hours %}
      <tr>
        <td>{{ customer.name }}</td>
        {% for logged_hour in logged_hours[customer] %}
          {# u#_c#_y#_m#_d# #}
          {% set field_name = "u"~user.id~"_c"~customer.id~logged_hour.day.strftime("_y%y_m%m_d%d") %}
          <td> <input type="text" id="{{ field_name }}" name="{{ field_name }}" value="{{logged_hour.hours}}" class="hours" maxlength="4" size="4" {% if timesheet.submitted %}disabled{% endif %} /> </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<input type="submit" value="Save" name="save" />
<input type="submit" value="Submit" name="submit" />

</form>

{% endblock %}
